{% extends "layout" %}

{% block content %}

    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"></div></div>
    </div>

    <div class="container">
        <h3>{{ book.nev }} {{ chapter }}</h3>
    </div>
    <p class="chapterText">
        {% set currentVerse = 0 %}
        {% for word in words %}
            {% set wordVerse = word.lh|split(',')[1] %}
            {% if wordVerse > currentVerse %}
                {% set currentVerse = wordVerse %}
                {% set verseId = book.nev ~ chapter ~ "," ~ currentVerse %}
        <a href="javascript:void(0)" data-verse-id="{{ verseId }}" data-trigger="toggle" data-poload="//szentiras.hu/api/ref/{{ verseId }}">
                <sup>{{ currentVerse }}</sup>
            </a>
            {% endif %}
            {% set popoverContent %}
            {% spaceless %}
                <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="wordPopover" id="pop{{ word.fh }}">
                    <span class="word">{{ word.unic|raw }}</span> (<span class="word">{{ word.szal|raw }}</span>)<br />{{ word.mj }}<br />
            <a id="a{{ word.fh }}" href="/text/details" class="btn btn-default btn-sm">Részletek</a>
            </div>
            {% endspaceless %}
            {% endset %}
            <a href="javascript:void(0)" data-wordid="{{ word.fh }}" data-trigger="manual" class="word" data-placement="auto" data-content="{{ popoverContent|e }}" data-html="true"><span class="word">{{  word.unic|raw }}</span><sup data-verse-id="{{ verseId }}" class="magyar" style="display:none">{{ word.mj }}</sup></a>
        {% endfor %}
    </p>
{% endblock %}
