{% extends 'adminLayout' %}

{% set jsModule = 'moderate' %}

{% block content %}

    {% for message in messages %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if message.hidden %}Törölt üzenet{% endif %}
                <strong>{{ message.nev }}</strong>
                <div class="pull-right"><small>{{ message.created_at }}</small> - <small>{{ message.ssz }}</small></div>
            </div>
            <div class="panel-body">
                <span id="msg{{ message.ssz }}">{{ message.uzenet|raw }}</span>
                <div class="pull-right">
                    <form method="POST" action="/technikai/moderate/delete">
                        <input name="id" type="hidden" value="{{ message.ssz }}">
                        <a id="delete{{ message.ssz }}" class="btn btn-primary delete" data-sender="{{ message.nev }}" data-message="{{ message.ssz }}">Töröl</a>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}
    {{ messages.links|raw }}

{% endblock %}