<div class="chooser">
    <form class="form-inline" role="form" action="/text" method="get">
        <label class="sr-only" for="book">Hely: </label>
        <select name="book" class="form-control jumper-form-control">
            {% for book in books %}
                <option value="{{ book.konyv_id }}" {{ currentBook == book.konyv_id ? 'selected' }}>{{ book.nev }}</option>
            {% endfor %}
        </select>
        <label class="sr-only" for="chapter">Fejezet</label>
        <select name="chapter" type="text" class="form-control jumper-form-control">
            {% for chapter in 1..currentBookLength %}
                <option value="{{ chapter }}" {{ chapter == currentChapter ? 'selected' }}>{{ chapter }}</option>
            {% endfor %}
        </select>
        <label class="sr-only" for="verse">Vers</label>
        <select name="verse" type="text" class="form-control jumper-form-control">
            {% for verse in 1..currentChapterLength %}
                <option value="{{ verse }}" {{ verse == currentVerse ? 'selected' }}>{{ verse }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"><span class="sr-only">Keres</span>
        </button>
    </form>
</div>