<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="wordDetails">
        <span class="word">{{ word.unic }}</span> - {{ word.mj }}
        <div><small>{{ word.szf|raw }} {{ word.elem|raw }}</small></div>
    </div>
</div>
<div class="modal-body wordDetails">
    <div><span class="word">{{ word.szal }}</span> - {{ word.dictMeaning|raw }}</div>
    {% if word.dictValt is not empty %}
    <div class="variants"><small>Változatok:</small> {{ word.dictValt|raw }}</div>
    {% endif %}
    {% if word.lj is not empty %}
    <div class="footnote"><small>{{ word.lj|raw }}</small></div>
    {% endif %}
    <div class="concordance"><small>Konkordancia betöltése <i class="fa fa-spinner fa-spin"></i></small></div>
    <div class="allTranslations"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
</div>
